button {
  display: flex;
  background-color: blue;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 15px;
  margin: 50px auto;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background-color: lightblue;
    color: black;
    transform: scale(1.1);
  }
}
